
        p{
        color:blue;
        }
        .story{
            background-color: yellow; padding: 20px;
        }
        .images{
            text-align: center;
            background-color: red;
            margin-top: 5%;
            width: 100%;
            size: 50%
            ;
            p{
     color: whitesmoke;
            }
            border-top: 22px color(solid
            black);
            padding: 20px;

        }
        body{
            background-color:rgb(46, 184, 158);

        }
    @media (max-width: 468px) {}
         .container{
    background-image: url(martin-martz-JSxVQ1Dm6_8-unsplash.jpg);   
    background-size: cover;     
    
    
    margin: 50px;
    

    width: 300px;

    height: 400px;
    text-align: center;
    align-items: center;

    align-content: center;
    /* border-width: 2px;
    border-style: solid;
    border-color: aqua; */
    border: 2px solid aqua ;
    border-radius: 15px;
padding-left: 25px;
padding-right: 25px;
padding-bottom: 25px;
padding-top: 25px;
position: relative;
left: 200px;
        }
    

    
       

        
        button{
            background-image: url(joshua-reddekopp-YQnTaPvCLGo-unsplash.jpg);

            padding: 4px;
        }
        *{
            margin: 0px;
            padding: 0px;
            color: white;

        }
        #nav{
            height: 60px;
            background-color: maroon;

        }
        #logo{
            color: rgb(230, 68, 14);
            font-size: 25px;
        }

        a{
            margin-right: 120px;
            text-decoration: none;
        }
        #search{
            padding: 0px;
            padding-right: 0px;
        }
        
    
    
    