
        p{
        color:blue;
        }
        .story{
            background-color: yellow; padding: 20px;
        }
        .images{
            text-align: center;
            background-color: red;
            margin-top: 5%;
            width: 100%;
            size: 50%
            ;
            p{
     color: whitesmoke;
            }
            border-top: 22px color(solid
            black);
            padding: 20px;

        }
        body{
            background-color:rgba(red, green, blue, alpha);

        }
        

        
        .container{
            
    background-color: blue
    ;
    margin: 100px;
    padding: 50px;

    width: 220px;
    text-align: center;
    align-items: center;
    margin-right: 20px;
        }
        @media (289px) {
            
        }
        
    
    
    